@font-face {
    font-family: 'times_squareregular';
    src: url('fonts/times_sq-webfont.eot');
    src: url('fonts/times_sq-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/times_sq-webfont.woff2') format('woff2'),
         url('fonts/times_sq-webfont.woff') format('woff'),
         url('fonts/times_sq-webfont.ttf') format('truetype'),
         url('fonts/times_sq-webfont.svg#times_squareregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  background:black;
}

body {
  position:relative;
  z-index:-10;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background:black;
  font-family:Helvetica, Arial, sans-serif;
}

app {
  display:block;
  width:100%;
  height:100%;
  text-align: center;
  &:before {
    position:relative;
    top:45%;
    font-size:3em;
    content:'Project Freedom: Mobile Coming Soon';
    color:white;
  }
}

#preload {
  display:none;
}

@media all and (min-width: 1024px) {

  html {
    width:100%;
    min-width:1024px;
    height:100%;
    background:black;
  }

  body {
    min-width:1024px;
  }

  app {
    &:before {
      display:none;
    }

    .loaded {
      #background {
        opacity:1;
      }
    }
    .loading {
      #background, #jumbotron, #audience, #map-wrapper, #intro, #load-screen {
        opacity:0;
      }
    }
  }

  #preload {
    display:block;
    opacity:0;
  }

  audience, map {
    & + #background {
      opacity:0!important;
    }
  }

  #audience {
    z-index:0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;

    #aud-vid {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }

  #intro, #load-screen {
    opacity:1;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }

  #background {
    position: fixed;
    width:100%;
    height:100%;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    min-width:1024px;
    z-index:-1;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    opacity:0;
    background:black;

    #bgvid {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      & > div {
        display:none;
      }
    }

    @media (min-aspect-ratio: 16/9) {
      #bgvid {
        height: 300%;
        top: -100%;
      }
    }

    @media (max-aspect-ratio: 16/9) {
      #bgvid {
        width: 300%;
        left: -100%;
      }
    }
  }

  #header {
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    padding:18px;
    box-sizing: border-box;

    &.active {
      display:block;
    }

    &:after {
      clear:both;
      display:table;
      content:'';
    }

    .mute {
        display: inline-block;
        float:right;
        width: 40px;
        height: 40px;
        background-size: 40px auto;
        background-position: center center;
        border-radius: 20px;
        box-shadow: 0 0 40px rgba(255,255,255,.4);
        background-image:url(http://s3.amazonaws.com/project-freedom/assets/images/speaker-trans.png);
        background-color: rgba(0,0,0,.4);

        &.active {
          background-color:#960707;
        }

        &:hover {
          background-color:#540404;
        }
    }

    .navbar {
      float:left;

      a.navbar-brand {
        display:inline-block;
        margin: 15px 15px 0 30px;
        text-decoration: none;
        vertical-align: top;
        color:#333;

        &:visited {
          color:#333;
        }
      }

      ul {
        display:inline-block;
        margin:0;
        padding:0;

        li {
          display:inline-block;
          padding:5px 5px 0;

          a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-size: 40px auto;
            background-position: center center;
            border-radius: 20px;
            box-shadow: 0 0 40px rgba(255,255,255,.4);

            &.home {
              background-image:url(http://s3.amazonaws.com/project-freedom/assets/images/home-trans.png);
              background-color: rgba(0,0,0,.4);

              &.active {
                background-color:#960707;
              }

              &:hover {
                background-color:#540404;
              }
            }

            &.audience {
              background-image:url(http://s3.amazonaws.com/project-freedom/assets/images/audience-trans.png);
              background-color: rgba(0,0,0,.4);

              &.active {
                background-color:#960707;
              }

              &:hover {
                background-color:#540404;
              }
            }

            &.map {
              background-image:url(http://s3.amazonaws.com/project-freedom/assets/images/map-trans.png);
              background-color: rgba(0,0,0,.4);

              &.active {
                background-color:#960707;
              }

              &:hover {
                background-color:#540404;
              }
            }
          }
        }
      }
    }
  }

  #load-screen {
    overflow:auto;
    width:100%;
    height:100%;
    background:url(http://s3.amazonaws.com/project-freedom/assets/images/loading-screen.jpg) no-repeat center center;

    .container {
      position:relative;
      top:50%;

      .wrap {
        max-width: 719px;
        margin:34px auto 0;
        padding:0 100px;

        &:after {
          display:table;
          content:'';
          clear:both;
        }
      }
    }

    .left, .right {
      width:111px;
      color: white;
      font-size: 21px;
      font-weight: bold;
      text-shadow: 0 0 15px rgba(0,0,0,.8);
      text-align: center;
    }

    .left {
      margin-left: 1px;
      float:left;
    }

    .right {
      margin-right:-2px;
      float:right;
    }
  }

  #jumbotron {
    min-height:650px;
    height:100%;
    padding:0;
    overflow:auto;
    box-sizing: border-box;
    background-image:
      url(http://s3.amazonaws.com/project-freedom/assets/images/globatron/GLOBATRON_SCOREBOARD.png),
      url(http://s3.amazonaws.com/project-freedom/assets/images/globatron/GLOBATRON_WALL_Top.png),
      url(http://s3.amazonaws.com/project-freedom/assets/images/globatron/GLOBATRON_WALL.jpg);
    background-repeat:
      no-repeat,
      repeat-x,
      repeat-x;
    background-size:
      871px,
      1590px auto,
      1590px auto;
    background-position:
      center 112px,
      center 521px,
      center 526px;
    text-align: center;
    font-family:'times_squareregular';
    opacity:1;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;

    .screen-wrap {
      width:721px;
      margin: 245px auto 0;

      &:after {
        display:table;
        clear:both;
        content:'';
      }

      .stats-wrap {
        width: 180px;
        float: left;
        padding: 52px 0 0;

        .stat {
          height:22px;
          margin:38px 0 0;
          color:#f3ac3b;
          letter-spacing: 2px;
          font-size: 1.5em;
          font-weight:bold;
          opacity: .9;

          &:first-child {
            margin:0;
          }

          & .total-kills {
            position: relative;
            top: -5px;
          }

          & .kills {
            position: relative;
            top: -4px;
          }

          & .date {
            position: relative;
            top: -2px;
          }
        }
      }

      .video {
        width: 350px;
        float: left;
        margin: 0 0 0 29px;

        video {
          width:100%;
        }
      }
    }

    .ticker-wrap {
      width: 488px;
      margin: 47px auto 0;

      .ticker-container {
        position:relative;
        width: 453px;
        height: 52px;
        margin-left: 34px;
        background:#333;
        -webkit-box-shadow: 0 0 30px 15px rgba(0,0,0,.2);
        box-shadow: 0 0 30px 15px rgba(0,0,0,.2);

        video {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
        }
      }
    }
  }

  #scroller {
    overflow:hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    display: inline-block;
    opacity: 1;
    margin:0 5px;
    z-index: 1;

    span {
      position:absolute;
      top:0;
      left:50px;
      padding-top:6px;
      color: white;
      letter-spacing: 2px;
      font-size: 2.5em;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  #map-wrapper {
    height:100%;
    overflow:auto;
    background:url(http://s3.amazonaws.com/project-freedom/assets/images/Stadium_view_Final_1.jpg) no-repeat center center;
    background-size:1540px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;

    #map {
      position:relative;
      top:50%;
      width: 716px;
      height: 354px;
      margin: -187px auto 0;

      iframe {
        width:100%;
        height:100%;
      }
    }

    #info {
      display: block;
      position: absolute;
      bottom: 70px;
      left: 50%;
      width: 500px;
      height: 65px;
      margin-left: -250px;
      background: black;
      border: 1px solid #efefef;
      color: #efefef;
      font-family: 'times_squareregular';

      #scroller {
        span {
          font-size:3.5em;
        }
      }
    }
  }
}

@media all and (min-width: 1440px) {

  #jumbotron {
    background-size:
      1120px,
      1390px auto,
      2121px auto;
    background-position:
      center 117px,
      center 644px,
      center 645px;

    .screen-wrap {
      width: 917px;
      margin: 286px auto 0;

      .stats-wrap {
        width: 222px;
        padding: 75px 0 0;

        .stat {
          height:21px;
          margin: 55px 0 0;
          font-size:1.4em;
        }
      }

      .video {
        width: 452px;
        margin: 0 0 0 40px;
      }
    }

    .ticker-wrap {
      width: 645px;
      margin: 63px auto 0;

      .ticker-container {
        width: 585px;
        height: 66px;
        font-size: 1.4em;
        margin-left: 52px;
        font-size:1.4em;

        span {
          padding-top:6px;
        }
      }
    }
  }

  #map-wrapper {
    background-size:2000px;

    #map {
      position: relative;
      top: 50%;
      width: 930px;
      height: 458px;
      margin: -240px auto 0;
    }
  }
}
